@import url('https://fonts.googleapis.com/css2?family=Montez&display=swap');
/*Variables*/
:root {
/* Paleta de colores */
/* Color Camel */
--color-primario: #C19A6B;
/* Color Oro*/
--color-secundario: #F7DC6F;
/* Color Blanco */
--color-terciario: #FFFFFF;
/* Color Verde Oliva*/
--color-verde-oliva: #808000;
/* Color Azul Marino*/
--color-azul-marino: #000080;
/*Color head and footer*/
--color-head-footer: #194029;
/* Tipografía */
/* Fuente principal */
--fuente-principal: 'Lato', sans-serif;
/* Fuente secundaria*/
--fuente-secundaria: 'Monserrat', sans-serif;
/* Tamaño de fuente textos */
--tamano-de-fuente: 16px;
}

body{
    background-color: var(--color-primario);
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    min-height: 100hv;
}

/*Estilos del header completo*/
header{
    background-color: var(--color-head-footer);
    color: var(--color-secundario);
}
/*Cabezera con nombre de la marca*/
.headerMarca{
    padding: 2% 5% 0.5%;
}
.h1_marca{
    margin: 0;
}
/*Navegador  de paginas del header*/
.navMenu {
    background-color: var(--color-primario);
    display: flex;
    padding: 1% 4% 1% 4%;
    align-items: center;
    justify-content: space-between;
}

.navMenu a{
    color: var(--color-secundario);
    text-decoration: none;
    margin: 0;
    padding: 0;
    font-weight: bold;
    font-size: 1rem;
    font-family: var(--fuente-principal);
}
/* lista del menu de accesorios*/
.containerMenu{
    width: auto;
    border:  black solid 2px;
    border-radius: 10px;
} 
.containerMenu.active{
    display: block;
}
.menuLista {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    align-items: center;
    padding: 1% 2% 1%;
    margin: 0;
    gap: 30px;
}
.btnMenu {
    margin: 0;
    padding: 0;
}
.btnMenu:hover {
    background-color: var(--color-head-footer);
    border-radius: 5px;
    padding: 4px;
}
/*Estilos del boton que abre el menu*/
.dropdown-btn {
    display: none;
}

/*cuerpo completo*/
main{
    padding: 0%;
}
/*Seccion donde esta el buscador de productos por texto*/
.sectionBuscar {
    background-color: var(--color-terciario);
    padding: 1% 5% 0.5% 5%;
    width: auto;
    display: flex;
    flex-direction: column;
}
.containerHorizontalTitulos{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
/*Titulo que señala la pagina que se encuentra*/
.tituloCategoria {
    color: var(--color-head-footer);
    font-weight: lighter;
    font-size: 2vw;
    margin: 0;
    padding: 2%;
}
/*segundo menu de la seccion debajo del header*/
.containerTituloCategoria{
    display: flex;
}
.menu2{
    display: flex;
    flex-direction: row;
    gap: 20px;
}
.menu2 a{
    font-style: italic;
    font-size: 1.6vw;
    text-decoration: none;
    color: var(--color-verde-oliva);
    margin: 0.2%;
}
/*Titulo del medio*/
.h2_containerTituloBuscador{
    margin: 0;
    text-align: center;
    color: var(--color-head-footer);
}
.tituloBuscador{
    font-size: 2vw;
}
/*Caja del buscador de texto de la derecha*/
.containerBuscador {
    display: flex;
    align-items: center;
    background-color: rgb(212, 234, 243);
    padding: .5% 2% .5% 2%;
    border-radius: 15px;
    width: auto;
}
.menuListaBuscador{
    display: none;
    flex-direction: column;
    list-style: none;
}
.menuListaBuscador a{
    text-decoration: none;
    color: var(--color-azul-marino);
}
.formBuscador{
    display: flex;
    width: 60%;
    
}
.inputBuscador{
    border: none;
    border-radius: 15px;
    padding: 10%;
    background-color: transparent;
}
.btnBuscador{
    background-color: transparent;
    border: none;
}
.dropdown-btnBuscador{
    display: flex;
}
/*mensaje abajo del carrusel*/
.mensajeLeyenda {
    justify-content: center;
    display: flex;
    color: var(--color-verde-oliva);
    font-family: "Montez", cursive;
    font-size: 2rem;
    padding: 0%;
}
/*Contenedor del carrusel*/
.containerCarrusel{
    padding: 2%;
}

/*carrusel*/
.slideshow-container {
    position:relative;
    max-width: 1000px;
    margin: auto;
    padding: 0% 0% 0% 5%;
    overflow: hidden;
    display: flex;
    gap: 10px;
}
.mySlides {
    display: none;
    width: 30%;
    background-color: var(--color-terciario);
    border-radius: 25px;
}
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 5px;
    margin-top: -22px;
    color: rgb(122, 119, 119);
    font-weight: bold;
    font-size: 38px;
    transition: 0.8s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}
.prev{
    left: 0;
    border-radius: 3px 0 0 3px;
}
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}
.text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
}
.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}
.active, .dot:hover {
    background-color: #717171;
}
.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}
@keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
}
/*Descripcion de los productos*/
.mySlides p{
    color: var(--color-verde-oliva);
    font-size: 18px;
    padding: 0% 0% 0% 5%;
}
.mySlides h3{
    color: var(--color-azul-marino);
    padding: 0% 0% 0% 5%;
}
.footer{
    background-color: var(--color-head-footer);
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction:row;
    padding: 0% 15% 0% 15%;
    color: var(--color-secundario);
}
.containerFooterContacto{
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
}
.containerFooterContacto p{
    display: flex;
    font-size: 1rem;
}
.containerFooterPagos{
    display: flex;
    width: 10vw;
    align-items: center;
    justify-content: center;
}
.containerFooterPagos p{
    padding: 0% 20% 0% 0%;
    display: flex;
    width: 1rem;
}
.containerFooterPagos img{
    display: flex;
    width: 40%;
}
.containerFooterAuthor{
    display: flex;
    align-items: center;
    width: auto;
}
.containerFooterAuthor p{
    display: flex;
}
/*imagenes footer*/
.imagenesFooter {
    width: 30px;
}
/*Diseño responsivo para telefono*/
@media (max-width: 768px) {
    .h2_containerTituloBuscador{
        width: 33%;
        padding: 0% 15% 0% 15%;
    }
    .containerBuscador{
        width: 40%;
        padding: 0% 5% 0% 5%;
    }
    .containerBotonMenuBuscador{
        display: block;
        width: 14%;
        padding: 0;
    }
    .containerMenuBuscador{
        display: flex;
        padding: 0;
        flex-direction: column;
        position: absolute;
        z-index: 1000;
    }
    .formBuscador{
        padding: 0;
        width: 130px;
    }
    .inputBuscador{
        width: 100%;
    }
    .dropdown-btn {
        display: flex;
        width: 100px;
        background-color: transparent;
        border: none;
    }
    .dropdown-btn img{
        display: block;
        width: 30px;
        height: auto;
    }
    
    .containerMenu{
        display: none;
    }
    .menuListaBuscador.active{
        display: block;
        background-color: rgb(212, 234, 243);
        position:fixed;
        border-radius: 15px;
        
        padding: 3%;
    }
    .btnMenu:hover {
        background-color:white;
        border-radius: 5px;
        padding: 4px;
    }
    

    .dropdown-btn.active + .menuLista {
        display: flex;
    }
    .botonDesplegableMenu{
        width: 100%;
    }
    .imgAnillo{
        width: 10%;
        height: 5%;
    }
    .mySlides p{
        font-size: 2vw;
        padding: 0% 1% 40% 8%;
    }
    .mySlides h3{
        font-size: 1rem;
        padding: 0% 0% 0% 5%;
    }
    .footer{
        background-color: var(--color-head-footer);
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: row;
        padding: 0% 5% 0% 5%;
        color: var(--color-secundario);
    }
}
